# Node
nirmaan-ui/node_modules
nirmaan-ui/.next

# Python
nirmaan-backend/venv
nirmaan-backend/__pycache__
*.pyc

# Environment
.env
nirmaan-backend/.env
nirmaan-ui/.env.local

# OS
.DS_Store
Thumbs.db